body {
  background: #f58e8e;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
  font-family: cursive, serif;
  font-size: 18px;
}


.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  width: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}


.card1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 250px;
  width: 600px;
  border: solid #8d00007c 2px;
  margin: 15px;
  justify-content: space-evenly; 
  align-items: center;
  box-shadow: 0 8px 6px -6px #8d00007c;
  
}

input {
  width: 30px;
  margin: 5px;
  padding: 5px;
}

input[type="checkbox"] + label {
   background: #8d00007c;
}

.textarea {
   width: 250px;
}

.card1:hover {
  border: solid #410101d7 2px;
  box-shadow: 0px 7px 7px 0px #410101d7;
  flex: 1;
}

.card2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
 
}

.card3 {
  font-family: cursive, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 35em;
  justify-content: center;
}

.card4 {
  font-size: 20px;
  padding: 5em;
  border: solid #8d00007c 2px;
  box-shadow: 0 8px 6px -6px #8d00007c;
}

.card4:hover {
  border: solid #410101d7 2px;
  box-shadow: 0px 7px 7px 0px #410101d7;
 
}

.submit {
  width: 150px;
  color: white;
  background: #8d00007c;
  border-radius: 50px;
  font-size: 12px;

}

.submit:hover {
  color: #8d00007c;
  background: white;
  border-radius: 50px;
  font-size: 12px;
}


